@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

.site-header {
  position: sticky;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  clear: both;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #adadad;
}

.side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side-nav-logo {
  margin-top: -1px;
  margin-right: 5px;
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.logo {
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}

.socials {
  margin-top: 5px;
  margin-right: 10px;
  float: right;
}

.background {
  background: url(../images/backgrounds/bg-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 920px;
}

.juno-info {
  text-align: center;
}

.juno-txt {
  margin-top: 10px;
}

.juno-more-info {
  font-family: 'Roboto', sans-serif;
}

.juno-more-info > a {
  position: relative;
  color: #5373ef;
  text-decoration: none;
}

.juno-more-info > a:hover {
  color: #000000;
}

.juno-more-info > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.juno-more-info > a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.footer {
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-height: 450px) {
  .side-nav {padding-top: 15px;}
  .side-nav a {font-size: 18px;}
}
