body {
    background: #68c28e;
    margin: 0;
    font-family: Arial;
}

a {
    color: #68c28e;
}

header {
    background: Black;
    color:Black;
    padding: 5px 0 0 15px;
}

header div ol {
	  color: white;
	  display:inline-block;
	  min-width:0.1cm;
	  height:1.2cm;
	  padding: 0 0 7px 10px;
}

header div li {
    text-shadow: 2px 2px #000000;
    color: White;
    display: inline-block;
    list-style: none;
	  padding: 0 0 0 10px;
}

header div li a {
    color:  White;
}

header div img {
    padding: 0 0 0 10px;
}

div.col {
    background: white;
    border-radius: 10px;
    color: Black;
    padding: 10px 0 10px 20px;
    margin: .5%;
    width: 50.5%;
	  box-shadow: 3px 5px 7px #090909;
}

footer {
    padding: 0 0 0 17px;
    color: White;
}
