body {
    background: #68c28e;
    margin: 0;
    font-family: Arial;
}

a {
    color: #68c28e;
}

header {
    background: Black;
    color:Black;
    padding: 15px 0 0 15px;
}

nav ul {
    margin: 0;
    padding: 0 0 0 15px;
    display: inline;
}

nav ul p {
  color: White;
  display: inline-block;
}

nav ul ol {
	color: white;
	display:inline-block;
	min-width:0.1cm;
	height:1.2cm;
	padding: 0 0 25px 15px;
}

nav ul li {
    text-shadow: 2px 2px #000000;
    color: White;
    display: inline-block;
    list-style: none;
    padding: 0 0 25px 15px;
}

nav ul li a {
    color:  White;
}

nav ul img {
    padding: 0 0 0 12px;
}

nav ul div {
	display:inline-block;
	min-width:0.1cm;
	height:1.2cm;
	vertical-align: middle;"
}

div.col {
    background: white;
    border-radius: 10px;
    color: Black;
    padding: 10px 0 10px 20px;
    margin: .5%;
    width: 50.5%;
}

footer {
    padding: 0 0 0 17px;
    color: White;
}
